# Database Configuration
DATABASE_URL="postgresql://safeout:pide@localhost:4242/sdk-1?schema=public"

# For testing with GitHub Actions
# DATABASE_URL="postgresql://testuser:testpassword@localhost:5432/testdb?schema=public"
